<nav class="navbar navbar-default">
  <div class="navbar-header">
    <h1 class="navbar-brand">My Diary 📓</h1>
  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/home">HOME 🏡</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">YOUR POSTS 📄</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stories/add">NEW POST ✒️</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">LOG OUT ❌</a>
    </li>

  </ul>

</nav>