<%-include("partials ejs/first header")-%>
<div class="container welcome">
    <i class="fas fa-key fa-6x"></i>
    <br>
    <h1 class="display-3">My Diary</h1>
    <br>
    <p class="lead">Don't share Your thoughts! Keep it anonymously!</p>
    <hr>
    <br>
    <a class="btn btn-lg btn-light" role="button" href="/register">Register</a>
    <a class="btn btn-lg btn-dark" role="button" href="/login">Login</a>
</div>

<%-include("partials ejs/footer")-%>